{{> admin/sidebar}}
{{> admin/header}}

<section>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-10 col-md-8 ml-auto">
                <div class="row align-items-center pt-md-5 mt-md-5 mb-5">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-title text-center mt-3">
                                <h3>Edit Category</h3>
                            </div>
                            <div class="card-body">
                                <form method="POST"
                                      action="{{prefixAdmin}}/categories/edit/{{category._id}}?_method=PATCH"

                                      id="form-create-category">
                                    <div class="form-group">
                                        <label for="name">Category Name:</label>
                                        <input type="text" class="form-control" name="name"
                                               placeholder="Enter Category Name" value="{{category.name}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Category Description:</label>
                                        <input type="text" class="form-control" id="description"
                                               name="description"
                                               placeholder="Enter Category Description" value="{{category.description}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="status">Category Status:</label>
                                        <select class="form-select form-control" id="status" name="status">
                                            <option value="active" {{#ifEqual category.status "active"}}selected{{/ifEqual}}>Active</option>
                                            <option value="inactive" {{#ifEqual category.status "inactive"}}selected{{/ifEqual}}>Inactive</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-dark mt-5 mx-auto d-block" type="submit">Update
                                        Category</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>