<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{pageTitle}}</title>

    <link rel="shortcut icon" type="image/x-icon" href="/client/img/favicon.png">

    <link rel="stylesheet" href="/client/css/bootstrap.min.css">
    <link rel="stylesheet" href="/client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/client/css/animate.min.css">
    <link rel="stylesheet" href="/client/css/magnific-popup.css">
    <link rel="stylesheet" href="/client/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/client/css/flaticon.css">
    <link rel="stylesheet" href="/client/css/meanmenu.css">
    <link rel="stylesheet" href="/client/css/meanmenu.css">
    <link rel="stylesheet" href="/client/css/jquery-ui.css">
    <link rel="stylesheet" href="/client/css/slick.css">
    <link rel="stylesheet" href="/client/css/default.css">
    <link rel="stylesheet" href="/client/css/style.css">
    <link rel="stylesheet" href="/client/css/responsive.css">
</head>
<body>
{{{ body }}}

    <script src="/client/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/client/js/jquery-ui.js"></script>
    <script src="/client/js/popper.min.js"></script>
    <script src="/client/js/bootstrap.min.js"></script>
    <script src="/client/js/owl.carousel.min.js"></script>
    <script src="/client/js/isotope.pkgd.min.js"></script>
    <script src="/client/js/one-page-nav-min.js"></script>
    <script src="/client/js/slick.min.js"></script>
    <script src="/client/js/jquery.meanmenu.min.js"></script>
    <script src="/client/js/ajax-form.js"></script>
    <script src="/client/js/wow.min.js"></script>
    <script src="/client/js/jquery.scrollUp.min.js"></script>
    <script src="/client/js/jquery.final-countdown.min.js"></script>
    <script src="/client/js/imagesloaded.pkgd.min.js"></script>
    <script src="/client/js/jquery.magnific-popup.min.js"></script>
    <script src="/client/js/instafeed.min.js"></script>
    <script src="/client/js/plugins.js"></script>
    <script src="/client/js/main.js"></script>
    <script src="/client/js/wishlist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</body>
</html>