{{> admin/sidebar}}
{{> admin/header}}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-8 ml-auto">
                {{#if (includes role.permissions 'role_decentralize')}}
                    <h1 class="mb-4">Decentralize Permission</h1>
                    {{#if documents}}
                    <div class="d-none" data-documents="{{JSONstringify documents}}"></div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-primary mb-3" button-submit-permissions>
                            Update
                        </button>
                    </div>

                    <table class="table table-hover table-sm" table-permissions>
                        <thead>
                            <tr>
                                <th>Features</th>
                                {{#each documents}}
                                    <th class="text-center">{{this.name}}</th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Hidden ID Row -->
                            <tr data-name="id" class="d-none">
                                <td></td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="text" value="{{this._id}}">
                                    </td>
                                {{/each}}
                            </tr>

                            <!-- Category Permissions -->
                            <tr>
                                <td colspan="4"><b>Category</b></td>
                            </tr>
                            <tr data-name="category_view">
                                <td>View</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="category_create">
                                <td>Create</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="category_edit">
                                <td>Edit</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="category_delete">
                                <td style="color: red">Delete</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>


                            <!-- Product Permissions -->
                            <tr>
                                <td colspan="4"><b>Product</b></td>
                            </tr>
                            <tr data-name="product_view">
                                <td>View</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="product_create">
                                <td>Create</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="product_edit">
                                <td>Edit</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="product_delete">
                                <td style="color: red">Delete</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>

                            <!-- Order Permissions -->
                            <tr>
                                <td colspan="4"><b>Order</b></td>
                            </tr>
                            <tr data-name="order_view">
                                <td>View</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="order_edit">
                                <td>Edit</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>

                            <!-- Coupon Permissions -->
                            <tr>
                                <td colspan="4"><b>Coupon</b></td>
                            </tr>
                            <tr data-name="coupon_view">
                                <td>View</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="coupon_create">
                                <td>Create</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="coupon_edit">
                                <td>Edit</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="coupon_delete">
                                <td style="color: red">Delete</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>

                            <!-- Role Permissions -->
                            <tr>
                                <td colspan="4"><b>Role</b></td>
                            </tr>
                            <tr data-name="role_view">
                                <td>View</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="role_create">
                                <td>Create</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="role_edit">
                                <td>Edit</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="role_decentralize">
                                <td>Decentralize</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="role_delete">
                                <td style="color: red">Delete</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>

                            <!-- Account Permissions -->
                            <tr>
                                <td colspan="4"><b>Account</b></td>
                            </tr>
                            <tr data-name="account_view">
                                <td>View</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="account_create">
                                <td>Create</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="account_edit">
                                <td>Edit</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="account_delete">
                                <td style="color: red">Delete</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>


                            <!-- User Permissions -->
                            <tr>
                                <td colspan="4"><b>User</b></td>
                            </tr>
                            <tr data-name="user_view">
                                <td>View</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="user_edit">
                                <td>Edit</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>
                            <tr data-name="user_delete">
                                <td style="color: red">Delete</td>
                                {{#each documents}}
                                    <td class="text-center">
                                        <input type="checkbox">
                                    </td>
                                {{/each}}
                            </tr>

                        </tbody>
                    </table>
                {{/if}}
                {{/if}}

                <!-- Hidden Form for Permissions Update -->
                <form form-change-permissions method="POST" action="{{prefixAdmin}}/roles/permissions?_method=PATCH" class="d-none">
                    <div class="form-group">
                        <input type="text" class="form-control" name="permissions">
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

    <script src="/admin/js/permission.js"></script>
