{{> client/preloader}}
{{> client/header}}
{{> client/breadcrumb}}

<main>
    <section class="login-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login">
                        <h3 class="text-center mb-60">Reset Your Password</h3>

                        {{#if error}}
                            <div class="alert alert-danger text-center">
                                {{error}}
                            </div>
                        {{/if}}

                        <form action="/auth/forgot-password" method="POST">
                            <label for="email">Email Address <span>*</span></label>
                            <input id="email" type="email" name="email" placeholder="Enter your email address..." value="{{email}}" required/>
                            <button type="submit" class="btn theme-btn-2 w-100">Reset password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{> client/footer}}