{{> client/preloader}}
{{> client/header}}
{{> client/breadcrumb}}

<main>
    <section class="login-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login">
                        <h3 class="text-center mb-60">Signup From Here</h3>
                        <form action="/auth/register" method="POST">
                            <label for="fullName">Full Name <span>**</span></label>
                            <input id="fullName" type="text" placeholder="Enter your full name..." name="fullName"/>
                            <label for="birthdate">Birthdate <span>**</span></label>
                            <input id="birthdate" type="date" name="birthdate"/>
                            <label for="email-id">Email Address <span>**</span></label>
                            <input id="email-id" type="text" placeholder="Enter your email address..." name="email"/>
                            <label for="password">Password <span>**</span></label>
                            <input id="password" type="password" placeholder="Enter password..." name="password"/>
                            <div class="mt-10"></div>
                            <button type="submit" class="btn theme-btn-2 w-100">Register Now</button>
                            <div class="or-divide"><span>or</span></div>
                            <a href="/auth/login" class="btn theme-btn w-100">Login Now</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{> client/footer}}