{{> client/preloader}}
{{> client/header}}
{{> client/breadcrumb}}

<main>
    <section class="login-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login">
                        <h3 class="text-center mb-60">Reset Password</h3>
                        <form action="/auth/reset-password/{{code}}" method="POST" id="reset-password">
                            <label for="password">New Password <span>*</span></label>
                            <input id="password" class="form-control" type="password" name="password" placeholder="Enter your new password" required/>
                            <div class="invalid-feedback">The password must be at least 8 characters long</div>

                            <label for="confirm-password">New Password <span>*</span></label>
                            <input id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Re-enter your new password" required/>
                            <div class="invalid-feedback">Passwords do not match</div>

                            <button type="submit" class="btn theme-btn-2 w-100">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{> client/footer}}

<script>
    const resetPasswordForm = document.getElementById('reset-password');
    resetPasswordForm.addEventListener('submit', (event) => {
        const password = document.getElementById('password');
        const confirmPassword = document.getElementById('confirm-password');

        if (!password.value || password.value.length < 8) {
            event.preventDefault();
            password.classList.add('is-invalid');
            return;
        } else {
            password.classList.remove('is-invalid');
        }

        if (password.value !== confirmPassword.value) {
            event.preventDefault();
            confirmPassword.classList.add('is-invalid');
        } else {
            confirmPassword.classList.remove('is-invalid');
        }
    });
</script>