<div class="col-lg-2 col-md-4 fixed-top sidebar">
    <a href="{{prefixAdmin}}"
       class="navbar-brand text-light d-block mx-auto text-center py-3 mb-4 bottom-border"><img
            src="./img/Admin.webp" class="img-fluid" width="100px" alt="logo"></a>

    <div class="bottom-border pb-3">
        <img src="./img/profile.jpg" alt="avatar" width="60" class="rounded-circle">
        <a href="#" class="text-light">Unknown</a>
    </div>

    <ul class="navbar-nav flex-column mt-5">
        <li class="nav-item">
            <a href="{{prefixAdmin}}"
               class="nav-link text-light p-3 mb-2 sidebar-link
                {{#ifEqual currentPage "dashboard"}}current{{/ifEqual}}">
                <i class="fa fa-home text-light fa-lg mr-3"></i>Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="{{prefixAdmin}}/products"
               class="nav-link text-light p-3 mb-2 sidebar-link
                {{#ifEqual currentPage "products"}}current{{/ifEqual}}">
                <i class="fa fa-database text-light fa-lg mr-3"></i>Product
            </a>
        </li>
        <li class="nav-item">
            <a href="{{prefixAdmin}}/products/create"
               class="nav-link text-light p-3 mb-2 sidebar-link
                {{#ifEqual currentPage "createProduct"}}current{{/ifEqual}}">
                <i class="fa fa-database text-light fa-lg mr-3"></i>Add product
            </a>
        </li>
    </ul>
</div>