<section class="breadcrumb-area" data-background="/client/img/bg/page-title.png">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-text text-center">
                    <h1>{{breadcrumbTitle}}</h1>
                    <ul class="breadcrumb-menu">
                        <li><a href="/">Home</a></li>
                        <li><span>{{breadcrumb}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>